.header {
  text-align: center;
  background-color: #c8d6e5;
}
.logo {
  height: 100px;
}
.header-info {
  color: #0a3d62;
}
.header nav {
  color: white;
  padding: 10px;
}

nav a {
  text-decoration: none;
  color: black;
  padding: 10px 10px;
  margin-right: 20px;
  border-radius: 5px;
  font-size: 20px;
}
nav a:hover {
  background-color: #c7ecee;
}
